# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars.backup
*.tfplan
*.tfplan.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Devbox
devbox*

# Temporary files
*.tmp
*.temp
key3_private.asc
